---
import Layout from '../../layouts/Layout.astro';
import { serviciosData } from '../../data/servicios.ts';
export async function getStaticPaths() {
  
  return serviciosData.map(servicio => ({
    params: { slug: servicio.slug },
    props: { servicio: servicio },
  }));
}

const { servicio } = Astro.props;
---
  <!-- molde para crear las 6 paginas de servicios -->

<Layout>

<section class=" bg-white shadow-xl overflow-hidden flex flex-col md:flex-row">
  
  <div class="bg-gray-50 p-12 md:p-28 md:w-1/2">
   <p class="text-3xl lg:text-3 xl font-bold text-sky-900 leading-tight mb-4 ">
   {servicio.tituloPagina}
     </p>
   <p class="text-gray-800 whitespace-pre-line text-lg text-justify ">
      {servicio.textoIntro}
     </p>
  </div>

<div class="md:w-1/2">
  <img src={servicio.imagenBanner} 
  alt={servicio.tituloPagina}
   class="w-full h-full object-cover min-h-[300px] md:min-h-0">
  </div>

</section>

 
 <main>
   {
      servicio.detalleSecciones.map((seccion, index) => (
        <section class="bg-white py-20 px-6">
          <div class:list={[
         "max-w-6xl mx-auto flex flex-col md:flex-row gap-12 items-center",
            { 'md:flex-row-reverse': index % 2 !== 0 }
          ]}>
            
            <div class="md:w-1/2">
              <img  src={seccion.imagen}  alt={seccion.titulo} class="border border-yellow-400 w-full h-80 object-cover shadow" >
            </div>
            
            <div class="text-gray-800 md:w-1/2">
              <h2 class="text-2xl font-bold mb-10">{seccion.titulo}</h2>
              <ul class="list-disc list-inside space-y-8 text-base text-gray-600 ">
                {
                  seccion.puntos.map(punto => (
                    <li set:html={punto} /> 
                  ))
                }
              </ul>
            </div> 
            
          </div>
        </section>
      ))
    }
  </main>
  
  
</Layout>